@import "./design";

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 170px;
}

// HERO SECTION

.subscribe {
  .hero-section {
    background-image: url("/assets/plan/desktop/image-hero-blackcup.jpg");

    @media (max-width: 1000px) {
      background-image: url("/assets/plan/tablet/image-hero-blackcup.jpg");
    }
    @media (max-width: 600px) {
      background-image: url("/assets/plan/mobile/image-hero-blackcup.jpg");
    }
  }
}

// STEPS

.subscribe {
  .how-section {
    background-image: url("/assets/plan/desktop/bg-steps.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px;
    border-radius: 10px;
  }

  .steps-illustration {
    margin: 0 10px;

    div:first-child {
      margin-left: -15px;
    }

    div:last-child {
      margin-right: -15px;
    }

    div {
      background-color: transparent;
    }
  }

  .step {
    h3 {
      color: $light-cream;
    }

    p {
      color: $light-cream;
    }
  }
}

@media (max-width: 1000px) {
  .subscribe {
    .how-section {
      background-image: url("/assets/plan/tablet/bg-steps.png");
      padding: 100px 40px 70px;
    }

    .steps {
      gap: 10px;
    }
  }
}

@media (max-width: 600px) {
  .subscribe {
    .how-section {
      background-image: url("/assets/plan/mobile/bg-steps.png");
      padding: 80px 24px;
    }

    .steps {
      gap: 56px;
      flex-direction: column;
    }
  }
}
